
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">
    <div class="hero">
        <img src="images/banner.jpg" alt="banner">

    </div>

    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
        {{#each people}}
        <!-- this is like JS forEach loop -->
        <div class="user-panel">
            <a href={{ID}} class="u-link">
                <img src="images/{{Image}}" alt="user image" class="u-avatar">
                </a>

            <h1>{{Name}}</h1>
            <h3>{{Date}}</h3>
        </div>
        {{/each}}

    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="content_lb">
            <img src="" alt="larger bio image">


        <div class="lb-content">
            {{!-- render the database content here --}}
        </div>

        </div>
    </section>
</section>
